{
  "presets": [
    [
      "env",

      {
        "modules": false,
        "targets": "> 0.25% in CN, last 10 versions, not ie <= 9",
        "useBuiltIns": "entry",
        "debug": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime"
  ],
  "env": {
    "development":{
      "plugins": ["dynamic-import-node"]
    },
    "test": {
      "plugins": ["transform-vue-jsx", "transform-runtime", "dynamic-import-webpack"],
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ],
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
